<div id="platezhka">
  <%= link_to "Платежка", :controller => 'controller', :action => 'get_file', :id => @travel.platezhka %>
  <% if User.find(session[:user]).admin? %>
    <%= link_to "Удалить платежку", :controller => 'travel', :action => 'remove_platezhka', :id => @travel.id %>
  <% end %>
</div>
