<% if User.find(session[:user]).admin? %>
  <p>Счет</p>
  <% form_for :file , :url =>{:controller => 'travel', :action => 'save_s4et', :id => params[:id]}, :html => { :multipart => true} do |form| %>
  <%= form.file_field :uploaded_data %>
  <%= submit_tag "Загрузить" %>
<% end %>
<iframe id='upload_s4et' name="upload_s4et" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
<% end %>
