<div id='user_view'>
  <table>
    <tr>
      <td><%= @tourist.id %></td>
      <td><%= @tourist.name_kir %></td>
      <td><%= @tourist.surname_kir %></td>
      <td><%= link_to "Edit", :action => 'edit', :id => params[:id] %></td>
    </tr>
  </table>
</div>

